name: Build and deploy db-backup
on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  build_and_push:
    name: Build and sign image  to GAR
    outputs:
      image: ${{ steps.build-push-sign.outputs.image }}
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6

      - uses: nais/docker-build-push@791ebb6f74b82849c742a9bc9c97abe44c6c111f # ratchet:nais/docker-build-push@v0
        id: build-push-sign
        with:
          team: nais
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

          #  deploy_to_dev:
          #    name: Deploy to nais dev-gcp
          #    needs: build_and_push
          #    permissions:
          #      contents: read
          #      id-token: write
          #    runs-on: ubuntu-latest
          #    steps:
          #      - uses: actions/checkout@v4
          #
          #      - uses: nais/deploy/actions/deploy@v2
          #        env:
          #          CLUSTER: dev-gcp
          #          RESOURCE: nais/naisjob.yaml
          #          VAR: image=${{ needs.build_and_push.outputs.image }}
          #          VARS: nais/dev.json

  deploy_to_prod:
    name: Deploy to nais prod-gcp
    needs: build_and_push
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # ratchet:actions/checkout@v4

      - uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/naisjob.yaml,nais/alert.yaml
          VAR: image=${{ needs.build_and_push.outputs.image }}
          VARS: nais/prod.json
