name: Build and deploy db-backup

on: [push]

env:
  db_backup_image: docker.pkg.github.com/${{ github.repository }}/db-backup

jobs:
  build:
    name: Checkout code and setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate image environment variable
        shell: bash
        run: |
          version=$(./version.sh)
          echo "version=${version}" >> $GITHUB_ENV
          echo "DB_BACKUP_IMAGE=${db_backup_image}:${version}" >> $GITHUB_ENV
      - name: Build db_backup docker image
        run: docker build . --tag $DB_BACKUP_IMAGE
      - name: Login to Github package registry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "$GITHUB_TOKEN" | docker login docker.pkg.github.com -u "$GITHUB_REPOSITORY" --password-stdin
      - name: Push docker image
        run: |
          docker push $DB_BACKUP_IMAGE
  deploy:
    name: Deploy to Kubernetes
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate image environment variable
        run: |
          version=$(./version.sh)
          echo "version=${version}" >> $GITHUB_ENV
          echo "DB_BACKUP_IMAGE=${db_backup_image}:${version}" >> $GITHUB_ENV
          echo "NAIS_YAML=${GITHUB_WORKSPACE}/nais-yaml" >> $GITHUB_ENV
          pwd
      - name: Bump version in nais-yaml
        env:
          DEPLOY_KEY: ${{ secrets.NAIS_YAML_DEPLOY_KEY }}
          GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${DEPLOY_KEY}"
          mkdir -p $NAIS_YAML
          git clone git@github.com:navikt/nais-yaml.git $NAIS_YAML
          cd $NAIS_YAML
          git config user.email "aura@nav.no"
          git config user.name "NAIS deploy pipeline"
          sed -E -i "s#image: .+#image: ${DB_BACKUP_IMAGE}#" vars/dev-gcp/db-backup.yaml
          # sed -E -i "s#image: .+#image: ${DB_BACKUP_IMAGE}#" vars/prod-gcp/db-backup.yaml
          git add .
          git --no-pager diff --cached
          git commit -a -m "Bump db_backup to version ${version}"
          git push
